/*
    Media Queries
 */
@import 'lib/_knife.scss';
@import 'lib/breakpoint/_breakpoint.scss';

$small : 480px !default;
$toSmall : 479px !default;
$fromSmall : 480px !default;

$mobile : 0px !default;
$toMobile : 766px !default;
$fromMobile : 0px !default;

$tablet : 767px !default;
$toTablet : 766px !default;
$fromTablet : 767px !default;

$desktop : 1024px !default;
$toDesktop : 1023px !default;
$fromDesktop : 1024px !default;

$monitor : 1330px !default;
$toMonitor : 1329px !default;
$fromMonitor : 1330px !default;

$big : 1440px !default;
$toBig : 1440px !default;
$fromBig : 1440px !default;

body {
	&.overlay-active {
		overflow: hidden;
	}
	#nona-overlay-wrap {
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 10000;
		display: none;
		top: 0;
		left: 0;
		overflow-y: scroll;



	#araFooter {
		border-top: 1px solid #8B2331;
	    padding: 5px 0px;
	    text-align: center;
	    bottom: 0px;
	    left: 0px;
	    width: 100%;
	    background: #FFF none repeat scroll 0% 0%;
	    z-index: 1;
	    position: fixed;

	    p {
	    	margin: 0px;
	    }

	    a {
	    	color: #151515;
	    	text-decoration: none;
			font-weight: 300;
	    }
	}

	#nona-overlay-inner {
		width: 28.5714285714%;

    float: left;
    float: none;
    padding: 3% 3% 7%;
		background: #8B2331;
		border-left: 3px solid #DAB97A;
		border-right: 3px solid #DAB97A;
		color: #DAB97A;
		font-family: "museo", serif;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
		@include breakpoint($fromMobile $toTablet) {
			width: 80%;
		}
		.logo {
		    max-width: 70%;
		}

		h1 {

			&.title {
				font-size: 1.6666666667rem;
				    line-height: 2.1666666667rem;
						margin-top: 0rem;
						    margin-bottom: 1.5rem;
			}
			&.sub-title {

			}

		}

		#nona-overlay {

			h2 {
				font-size: 1rem;
				line-height: 1.5rem;
				width: 80%;
				margin-left: 10%;
				margin-right: 10%;
			}

			p {
				font-size: 1.6666666667rem;
		    line-height: 2.3333333333rem;
			}

			form {
				width: 80%;
		    margin: 0 auto;
		    display: block;
				.submit {
					position: relative;
					&:after {
					    content: '';
					    position: absolute;
					    width: 10px;
					    width: 0.8333333333rem;
					    height: 20px;
					    height: 1.6666666667rem;
					    background-image: url('../img/arrow-sprite.png');
					    background-position: 0 -25px;
					    background-repeat: no-repeat;
					    bottom: 7px;
					}
					.button {
						color: #DAB97A;
				    margin-top: 18px;
						cursor: pointer;
					}
				}
			}
			input[type=submit] {
					color: white;
			}
			.submit {
				margin-bottom: 0;
			}
			input {
					&#nona_verify_confirm {
						display: inline-block;
				}
			}
			.date-inputs {
				border: 5px solid rgba(218,185,122,0.35);
		    display: block;
		    overflow: hidden;
				.mm,
				.dd {
					    width: 30%;
							float: left;
    overflow: hidden;
				}
				.yy {
					width: 40%;
					border-right: 2px solid #DAB97A;
					float: left;
					overflow: hidden;
				}

				input[type=text] {
					border: 2px solid #DAB97A;
					border-right: none;
					text-align: center;
					font-family: "museo", serif;
					margin: 0;
					opacity: 1;
					color: rgba(15,15,15,0.8);
				}

			}
			#error-too-young {
				display: none;
				padding: 12px;
				background-color: #ffebe8;
				border: 1px solid #c00;
				-webkit-border-radius: 3px;
				   -moz-border-radius: 3px;
				        border-radius: 3px;
			}
		}
	}
}
}
